**/__pycache__
.DS_Store

# Ignore everything
/*
!custom_components/
!README.md
!.github/

# In .github, ignore workflows
.github/workflows/

# In custom_components, ignore everything except vogels_motion_mount_next_ble
/custom_components/*
!/custom_components/vogels_motion_mount_next_ble/